.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

body{
	overflow-x: hidden;
}           
            .calendar{
                display: none;
                height: auto;
                transition: transform 0.4s ease;
                background: #ddd;
            }

            .calendar-before{
                display: block;
                transition: transform 0.4s ease;
            }

            .tool-before{
                display: none;
                transition: transform 0.4s ease;
            }

